@font-face {
    font-family: loading;
    src: url(../fonts/Sickamore.ttf);
}
.loading {
    font-family: loading;
    color: red;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 40px;
    margin: 40px;
    display: none;
}
.level_container {
    width: 100%;
    height: 100%;
}
.level_one {
    display: none;
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: url(../img/bg2.jpg) repeat-x 0 0 / contain;
}
.item {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
}
.jump {
    position: absolute;
    width: 75px;
    right: 0;
    bottom: 0;
    margin: 15px;
}
.ability {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
.ability_4 {
    bottom: 50%;
    margin: 20px;
}
.ability_1 {
    bottom: 50%;
    right: 30%;
}
.ability_2 {
    bottom: 30%;
    right: 47%;
}

.ability_5 {
    right: 50%;
}
.floor {
    position: absolute;
    width: 3000%;
    height: 30%;
    z-index: -1;
    background-repeat: repeat-x, repeat-x;
    background-position: top left;
    bottom: 0;
}
.black_floor {
    background-color: black;
    height: 89%;
    position: absolute;
    width: 3000%;
    bottom: 0;
}

.bamboo {
    z-index: -10;
    height: 75%;
    width: 3000%;
    position: absolute;
    top: 0;
}
.ninja {
    width: 200px;
    height: 100px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 200;
    position: absolute;
    bottom: 26%;
    left: 0;
    color: black;

    transition: left 0.2s linear;
}

.ninja_stand_right {
    background-image: url("../img/stand/stand.svg");
    background-size: contain;
}

.ninja_walk_right {
    animation: walkRight 1s steps(6) forwards;
}

@keyframes walkRight {
    0% {
        background-image: url("../img/walkRight/1_walk.svg");
    }
    20% {
        background-image: url("../img/walkRight/2_walk.svg");
    }
    40% {
        background-image: url("../img/walkRight/3_walk.svg");
    }
    60% {
        background-image: url("../img/walkRight/4_walk.svg");
    }
    80% {
        background-image: url("../img/walkRight/5_walk.svg");
    }
    100% {
        background-image: url("../img/walkRight/6_walk.svg");
    }
}
