@font-face {
    font-family: loading;
    src: url(../fonts/Sickamore.ttf);
}
.loading {
    font-family: loading;
    color: red;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 40px;
    margin: 40px;
    display: none;
}
.level_container {
    width: 100%;
    height: 100%;
}
.level_one {
    display: none;
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
}

#levelOneBg{
    background: url(../img/bg2.jpg) repeat-x 0 0 / contain;
    height: 100%;
    width: 3000%;
    z-index: -1;
    position: relative;
}

.ability {
    position: absolute;
    height: 100px;
    cursor: pointer;
    background: no-repeat 50% / contain;
    z-index: 5;
    opacity: 0.8;
}

.jump {
    position: absolute;
    height: 100px;
    right: 50px;
    bottom: 50px;
    height: 130px;
    width: 130px;
    background: url(../img/level_one/up_d1.png) no-repeat 50% / contain;
}

.miniabs {
    position: absolute;
    height: 90px;
    width: 90px;
}

.a1 {
    right: 230px;
    bottom: 50px;
    background-image: url(../img/level_one/icon_dash_0.png);
}
.a2 {
    right: 50px;
    bottom: 50px;
    background-image: url(../img/level_one/icon_bienhinh_0.png);
    transform: translate(-125px, -125px);
}
.a3 {
    right: 50px;
    bottom: 50px;
    background-image: url(../img/level_one/icon_phitieu_0.png);
    transform: translateY(-180px);
}
.floor {
    position: absolute;
    width: 3000%;
    height: 30%;
    z-index: -1;
    bottom: 0;  
    background:url(../img/level_one/co1.png)repeat-x 0 2px,
    url(../img/level_one/co2.png) repeat-x 10px -1px,
    url(../img/level_one/codai2.png) 0 -10px / 300px;
}

.black_floor{
    background: #000;
    height: 88%;
    position: absolute;
    width: 3000%;
    bottom: 0;
}

.bamboo {
    z-index: -10;
    height: 75%;
    width: 3000%;
    position: absolute;
    top: 0;
}
.ninja {
    width: 100px;
    height: 190px;
    background: no-repeat center / cover;
    z-index: 1;
    position: absolute;
    bottom: 173px;
    left: 50px;
    transition: bottom 0.3s;
    filter: brightness(0);
    background:  no-repeat 0 70px / contain;
    
}
.ninja_stand_right {
    background-image: url(../img/ninjaFrames/Martial\ Hero/Sprites/idle.gif);
}

.ninja_walk_right {
    background-image: url(../img/ninjaFrames/Martial\ Hero/Sprites/run.gif);
}

.ninja_jump {
    animation: ninjaJump 0.8s linear;
}

@keyframes ninjaJump {
    0%{
        bottom: 200px;
        background-image: url(../img/ninjaFrames/Martial\ Hero/Sprites/jump.gif);
    }
    50%{
        background-image: url(../img/ninjaFrames/Martial\ Hero/Sprites/jump.gif);
        bottom: 350px;
    }
    55%{
        background-image: url(../img/ninjaFrames/Martial\ Hero/Sprites/fall.gif);
    }
    100%{
        bottom: 160px;
        background-image: url(../img/ninjaFrames/Martial\ Hero/Sprites/fall.gif);
    }
}

.ninja_fall {
    background-image: url(../img/ninjaFrames/Martial\ Hero/Sprites/fall.gif);
}

.pause{
    background: url(/img/level_one/pause.png) no-repeat 50% / contain;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 70px;
    width: 70px;
    opacity: .8;
    cursor: pointer;
}

#pauseMenu{
    height: 450px;
    width: 350px;
    background: url(../img/settingsMenu/Bang.png) no-repeat 50% / cover;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4000;
    transform: translate(-50%, -50%) scale(1.3);
}

#pauseMenu > ul{
    display: flex;
    flex-flow: column;
    gap: 20px;
    font-size: 35px;
    color: #920000;
    margin-top: 60px;
    text-align: center;
    line-height: 60px;
    font-family: loading;
    transform: translate(20%, 20%);
}

#pauseMenu > ul > li:hover{
    filter: brightness(80%);
}

#pauseMenu > ul > li{
    height: 52px;
    width: 210px;
    background: url(../img/settingsMenu/dai.png) no-repeat 50% / cover;
    cursor: pointer;
    transition: .2s;
}

#pauseMenu > ul > p{
    color: #000;
    font-size: 28px;
    position: absolute;
    top: -125px;
    left: 80px;
}
