@font-face {
    font-family: loading;
    src: url(../fonts/Sickamore.ttf);
}
.loading {
    font-family: loading;
    color: red;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 40px;
    margin: 40px;
    display: none;
}
.level_container {
    width: 100%;
    height: 100%;
}
.level_one {
    display: none;
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: url(../img/bg2.jpg) repeat-x 0 0 / contain;
}
.item {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: .8;
}

.ability{
    position: absolute;
    height: 100px;
    cursor: pointer;
    background: no-repeat 50% / contain;
    z-index: 5;
}

.jump {
    position: absolute;
    height: 100px;
    right: 50px;
    bottom: 50px;
    height: 130px;
    width: 130px;
    background: url(../img/level_one/up_d1.png) no-repeat 50% / contain;
}

.miniabs{
    position: absolute;
    height: 90px;
    width: 90px;
}

.a1 {
    right: 230px;
    bottom: 50px;
    background-image: url(../img/level_one/icon_dash_0.png);
}
.a2 {
    right: 50px;
    bottom: 50px;
    background-image: url(../img/level_one/icon_bienhinh_0.png);
    transform: translate(-125px, -125px);
}
.a3 {
    right: 50px;
    bottom: 50px;
    background-image: url(../img/level_one/icon_phitieu_0.png);
    transform: translateY(-180px);
}
.floor {
    position: absolute;
    width: 3000%;
    height: 30%;
    z-index: -1;
    background-repeat: repeat-x, repeat-x;
    background-position: top left;
    bottom: 0;
}
.black_floor {
    background-color: black;
    height: 89%;
    position: absolute;
    width: 3000%;
    bottom: 0;
}

.bamboo {
    z-index: -10;
    height: 75%;
    width: 3000%;
    position: absolute;
    top: 0;
}
.ninja {
    width: 200px;
    height: 100px;
    background: no-repeat center / cover;
    z-index: 1;
    position: absolute;
    bottom: 26%;
    left: 0;
}

.ninja_stand_right {
    background-image: url("../img/stand/stand.svg");
    background-size: contain;
}

.ninja_walk_right {
    animation: walkRight .3s alternate infinite;
}

@keyframes walkRight {
    0% {
        background-image: url("../img/walkRight/1_walk.svg");
    }
    20% {
        background-image: url("../img/walkRight/2_walk.svg");
    }
    40% {
        background-image: url("../img/walkRight/3_walk.svg");
    }
    60% {
        background-image: url("../img/walkRight/4_walk.svg");
    }
    80% {
        background-image: url("../img/walkRight/5_walk.svg");
    }
    100% {
        background-image: url("../img/walkRight/6_walk.svg");
    }
}